.floating-contact{
  display: none;
}
.continue-to-projects{
    position: absolute;
    bottom: -100vh;
    right: 15%;
}
.continue-to-projects img{
    width: 200px;
    /* filter: invert(); */
}
.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background :var(--background);
  color:var(--color)
  /* margin-top: 20vh; */
}
.homepage-text {
  padding: 5rem 3rem;
  margin: 15% 0 5% 0;
  text-align: start;
}
.homepage-text h1 {
  font-size: 5rem;
}
.homepage-text p {
  font-size: 2rem;
}
.homepage-project-wrapper {
  height: max-content;
  background-color: rgb(226, 226, 226);
}
.homepage-project-wrapper .homepage-project-text {
  display: flex;
  align-items: start;
  height: 25vh;
  padding: 2rem 4rem 0 4rem;
}

.homepage-project-wrapper .homepage-project-text div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.homepage-project-wrapper .homepage-project-text span {
  font-size: 3rem;
}
.homepage-project-wrapper .homepage-project-text h1{
        color: var(--primary-color);
}
.homepage-project-wrapper .homepage-product-info{
    padding: 0 3rem;
    height: 100vh;

}
.homepage-project-wrapper .homepage-product-info .projectImg{
    width: 800px;
    height: 400px;
}

.homepage-project-wrapper .homepage-product-info-text h1{
    font-size: 3.5rem;
    white-space: nowrap;
    margin: 0 0 1rem 0;
    letter-spacing: -3px;

}
.homepage-project-wrapper .homepage-product-info-text p{
    font-size: 1.2rem;

}
.homepage-project-wrapper .product-link{
    &:hover{
        background-color: invert();
    }
}
@media screen and (max-width:1200px) {
  .floating-contact{
    display: block;
  }
  .floating-contact .ant-float-btn-body {
    background-color: #000 !important;
    scale: 1.2;
  }
  .floating-contact .ant-float-btn-body *{
    color: #fff;
  }
  .continue-to-projects{
    position: absolute;
    bottom: -80vh;
    right: 10%;
        z-index: 9 !important;
}
.continue-to-projects img{
    width: 150px;

    /* filter: invert(); */
}
.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background :var(--background);
  color:var(--color);
  /* overflow-x: hidden; */
  /* margin-top: 20vh; */
}
.homepage-text {
  padding: 0 1rem 5rem 1rem;
  margin: 0% 0 15% 0;
  text-align: center;
  justify-content: flex-start;
}
.homepage-text h1 {
  font-size: 4rem !important;
}
.homepage-text p {
  font-size: 2rem;
}

.homepage-project-wrapper .homepage-project-text {
  display: none;
}

.homepage-project-wrapper .homepage-product-info{
    padding: 0;
    margin: 1rem 1rem 3rem 1rem;
    gap: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: max-content;

}
.homepage-project-wrapper .homepage-product-info .projectImg{
    width: 100%;
    object-fit: contain;
    height: 200px;
}

.homepage-project-wrapper .homepage-product-info-text h1{
    font-size: 3rem;
    white-space: wrap;
    margin: 0;
    letter-spacing: -3px;

}
.homepage-project-wrapper .homepage-product-info-text p{
    font-size: 1.2rem;

}
.homepage-project-wrapper .product-link{
  margin: 0 0 2rem 0;
    &:hover{
        background-color: invert();
    }
}
}