.navigation-wrapper{
    display: flex;
    align-items: center;
    position: absolute;
    text-align: center;
    gap: 0.2rem;
    left: 45%;
    bottom:4%;
     text-decoration: none;
     color: var(--color);
     opacity: 0.7;
     font-size: .7rem;
    transition: 0.3s ease-in-out;
        transform: rotate(90deg);
}
@keyframes bounce {
    0%, 50%, 100%{
        transform: translateX(0px);
        transition: 0.5s ease-in-out;
    }
    20%,60%,70%{
        transform: translateX(20px);
        transition: 0.5s ease-in-out;
    }
}
.navigation{
    filter: grayscale() brightness(0.4);
    width: 60px;
    font-size: 4rem;
    color: var(--color);
    animation: bounce 4s infinite ;
}

.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 4rem;
    /* flex-wrap: wrap */
}
.hero-text{
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.hero-text h1{
    font-size: 4.5rem;
    letter-spacing: -2px;
   width: 50%;
    /* font-family: var(--font-italiana); */
}
.hero-text p{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.hero-text .btn{
    font-size: 1.2rem;
    color: var(--color-light);
    background: var(--color);
    &:hover{
        background: var(--color-light);
        color: var(--color);
    }
}
.Hero-img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin-top: -3rem;

}
.Hero-img img{
    background:url("../../assets/blob.svg") no-repeat center/cover;
    background-size: 130%;
    width:128% ;
    object-fit: contain;
    transition: 1s ease-in-out;
    filter: drop-shadow(0 15px 20px rgba(128, 128, 128, 0.212));
}