@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



/* styles.css or your global CSS file */

* {
  @apply font-custom;
  line-height: 1.6rem;
  letter-spacing: .04rem;
  word-spacing: .2rem;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ffb300;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}



.grid-background {
    height: 100%;
    background-image: linear-gradient(to right, #33333352 1px, transparent 1px),
                      linear-gradient(to bottom, #33333352 1px, transparent 1px);
    background-repeat: repeat;
    background-size: 300px 270px;
  }
  
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
  }